div {
/*	-webkit-box-shadow:inset 0px 0px 0px 0.3px #FFF;
	-moz-box-shadow:inset 0px 0px 0px 0.3px #FFF;
	box-shadow:inset 0px 0px 0px 0.3px #FFF;*/
}


.parent {
	display: flex;
	width: 90%;
	height: 100%;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	margin: auto;
	margin-top: 1%;
	background-color:#040404;
}

.container {
	display: flex;
	width: 100%;
	justify-content: left;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	margin: auto;
	margin-top: 1%;
}

#titleContainer {
	height: 10%;
	margin-top: 0;
	justify-content: left;
}

#descContainer {
	justify-content: left;
	margin-top: 0;
}

#container3 {
	height: 5%;
	justify-content: left;
}

#container4 {
	height: 50%;
	justify-content: left;
}

#dataContainer {
	height: 20%;
	justify-content: center;
}

#scenarioTitle {
	margin: 0.5%;
	margin-top: 2%;
}

#buttons1 {
	margin-top: 0;
	margin-bottom: 0.5%;
	margin-right: 0.5%;
	margin-left: 0.5%;
}

#buttons2 {
	margin-top: 0;
	margin-bottom: 0.5%;
	margin-right: 0.5%;
	margin-left: 0.5%;
}

#chartsContainer {
	margin: 0.5%;
}


@font-face {
	font-family: Prototype;
	src: url('fonts/Prototype.ttf');
}

@font-face {
	font-family: TypoGraphica;
	src: url('fonts/TypoGraphica.otf');
}

#scenarioName {
	font-family: TypoGraphica, sans-serif;
	font-size: 40px;
	color: #fa1e4e;
	vertical-align: bottom;
	transition-duration: 0.2s;
}

#scenarioName:hover {
	text-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
	transition-duration: 0.2s;
}

.scenarioDesc {
	font-family: Prototype;
	font-size: 17px;
	line-height: 25px;
	color: #AAA;
	vertical-align: top;
	transition-duration: 0.2s;
}

.scenarioDesc:hover {
	color: #CCC;
	transition-duration: 0.2s;
}


#scenarioButton {
	height: 100%;
	width: 35%;
	background-color: #c8042f;
	border: none;
	border-radius: 2px;
	color: #CCC;
	font-size: 12px;
	transition-duration: 0.4s;
	text-align: center;
	font-family: Prototype;
	padding: 7px;
}

#scenarioButton:hover {
	background-color: #fa1e4e;
	transition-duration: 0.4s;
}

#actionButton {
	height: 100%;
	width: 20%;
	background-color: #c8042f;
	border: none;
	border-radius: 2px;
	color: #CCC;
	font-size: 12px;
	transition-duration: 0.4s;
	text-align: center;
	font-family: Prototype;
	padding: 7px;
}

#actionButton:hover {
	background-color: #fa1e4e;
	transition-duration: 0.4s;
}

#chartContainer {
	margin: 0.5%;
}

#maintable {
	border: 1px solid #AAA;
	border-collapse:collapse;
	width: 100%;
	height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0f0f0f; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f0f0f; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fa1e4e; 
}

body {
	border: 1px solid #fa1e4e;
	border-radius: 5px;
	background-color:#0c0c0c;

}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	background: #444;
	outline: none;
	opacity: 0.9;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 10px;
	background: #fa1e4e;
	border-radius: 2px;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #fa1e4e;
	cursor: pointer;
}

.dataDiv {
	width: 20%;
	height: 100%;
	margin: auto;
	margin-top: 3%;
	text-align: center;
	line-height: 51px;
}

.dataNum {
	font-family: TypoGraphica, sans-serif;
	font-size: 68px;
	color: #fa1e4e;
	transition-duration: 0.2s;	
}

.dataNum:hover {
	text-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
	transition-duration: 0.2s;
}

.dataDesc {
	font-family: Prototype;
	font-size: 17px;
	line-height: 25px;
	color: #AAA;
	vertical-align: top;
	transition-duration: 0.2s;
}

.dataDesc:hover {
	color: #CCC;
	transition-duration: 0.2s;
}